
.page-description{
  margin-top:60px;
  background:#5a5f63;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px;
  display:flex;

}

.page-description p{
  text-align:left!important;
  padding:0px!important;
  line-height:1.5em;
  max-width:800px;
  margin:auto!important;
  color:white;
}

.page-description h3{
  width:100%;
  color:white;
  max-width:800px;
  font-size:30px;
  line-height:1em;
  padding:0px;
  margin:auto!important;
  text-align:left!important;
}


.logo-header{
  text-align:left;
  background:#303a40;
  width:100%;
  display:flex;
  position:fixed;
  top:0px;
  height:60px;
  z-index:999999;
}

.logo-header img{
  height:20px;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:30px;
}

.logo-header h1{
  font-size:25px;
  margin-left:20px;
  margin-right:20px;
  color:white;
  margin-top:15px;
  margin-bottom:5px;
  padding-bottom:10px;
}



.video-closer a{
  font-size:50px;
  color:white;
  margin-left:20px;
  text-decoration:none;
}

#video-player{
  position:relative;

  width:100vw!important;
  height:100vh!important;
  background:black;
  position:fixed;
  display:none;

}

.video-closer{
  background:black;
  z-index:99999999;


}

.links-links img{

  width:60px;
  display:inline-block;
  transition:0.2s;

}

.links{
  margin:0px;
  padding:0px;
  position:absolute;
  right:30px;
  bottom:20px;
  width:60px;
}

.links:hover{
}

.links-links:hover img{
  transform:scale(1.2);
  transition:0.2s;
  margin-top:10px;
  margin-bottom:10px;

}


#about-me-container{
  position:absolute;
  width:500px;
  bottom:0px;
  left:40px;
  transition:0.7s;
  opacity:0;
  z-index:9999;
  pointer-events: none;

}

.web-links{
  background:#366bad;
  line-height:1.5em;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
  border-radius:20px;
  text-decoration:none;
  font-size:12px;
  color:white;
}

.about-me-inner{
  height:auto;
  background:#e8e8e8;
  border-radius:20px;
  box-shadow:5px 5px 25px rgba(0,0,0,0.2);
  display:flex;
  margin-top:30px;
}

.about-me-inner p{
  text-align:justify;
  padding:0px 25px 0px 25px;
  font-weight:200;
}

/* .about-me-inner li{
background:white;
padding-top:5px;
padding-bottom:5px;
padding-left:10px;
padding-right:10px;
margin-top:2px;
margin-bottom:2px;
border-radius:10px;
list-style: none;
width:50%;

}

ul{

display:flex;
list-style-type:none;
padding:0px 25px 0px 25px;
} */
.about-me-sidebar{
  width:300px;
  height:auto;
  background:blue;

  border-radius:25px 0px 0px 25px;
}

.about-button{
  width:250px;
  height:100%;
  -webkit-filter: drop-shadow(5px 5px 25px rgba(0,0,0,0.2));
  transition:0.2s;
  cursor:pointer;
  margin-left:20px;
  display:flex;
  margin-bottom:20px;
}

.about-button h3{
  color:white;
  text-shadow:1px 1px black;
  margin-top:auto;
  margin-bottom:auto;
}


.about-button:hover{
  transform:translateX(20px);
  transition:0.2s;

}

.about-button-container{
  height:100%;
}

.about-button img{
  width:70px;
  height:auto;
  transition:0.2s;
  background:white;
  border-radius:50%;
  padding-left:13px;
  padding-right:13px;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:20px;
}

.topbar-text{

}

.topbar{
  width:100vw;
  background:rgba(61, 61, 61, 0.8);
  height:37px;
  position:absolute;
  top:0;
  padding-left:0px;
  display:flex;

}

.topbar-text img{
  height:25px;
  margin-top:7px;
  margin-left:20px;


}

.topbar-icons{
  position:absolute;
  right:20px;
  display:flex;
}

.topbar-icons img{
  height:17px;
  margin-left:10px;
  margin-top:10px;
}

.topbar-icons p {
  margin-left:10px;
}

.topbar p{
  text-align:left;
  line-height:0.2em;
  color:white;
}
#container {
  width: 100%;
  height:100vh;
  background: #136a8a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
}



.window-iframe{
  height:inherit;
  width:100%;
  border:none;
}



.iframe-with-sidebar-container{
  height:inherit;
  width:80%;
  display:block;
  padding-left:5px;
  padding-right:2px;

}

.iframe-with-sidebar-inner-container{
  height:inherit;


}





.character-container{
  height:inherit;
  width:100%;
  display:block;

}

.character-inner-container{
  height:inherit;

}


.sidebar{


}

.sidebar a{
  display:inline-block;
  width:100%;
  padding:10px;
  border-radius:20px 0px 0px 20px;
  background:rgba(227, 227, 227, 0);
  transition:0.1s;
  text-decoration: none;
  color:#262626;
}

.active{
  background:rgba(186, 186, 186, 1)!important;
  transition:0.1s;

}

.sidebar-container{

  width:20%;
  display:block;
  background:#ebebeb;
  padding:20px;

}

.sidebar-inner-container{

}

.column-third{

  width:33.3333%;
  flex:33.3333%;

}

.column-third img{
  width:100%;
}



body{
  font-family:'rubik', sans-serif;
}

#index-body{
  margin:0px;
  padding:0px;
  overflow:hidden;
}

.iframe-body{
  overflow:scroll;
  padding-bottom:0px!important;
  background:#f5f5f5!important;

}




h1{
  font-size:40px;
}

h2{

  font-size:30px;
}

h3{

  font-size:22px;
  text-align:center;
}

p{
  font-size:16px;
  text-align:center;
  font-family:lato, sans-serif;
  font-weight:400!important;
  line-height:1.5em;

}

a{
  font-size:16px;
  line-height:1.5em;
}






.item {
  width: auto;
  position:absolute;

  background:rgba(53, 74, 82, 0.98);
  touch-action: none;
  user-select: none;
  display:none;
  top:-40%;
  position:relative;

  height:50px;

  border-radius:20px 20px 0px 0px;
}

.item:hover {
  cursor: pointer;

}

.window-inner{
  display:hidden;
  height:100%;
  background-repeat:no-repeat;
  background-position:right bottom;
  overflow:hidden;

}

.item-window{

  width: 70vw;
  height: 70vh;
  background:white;
  margin-top:50px;
  cursor:auto;
  overflow:auto;
  resize:both;
  min-width:300px;
  padding-bottom:30px;
  border-radius:0px 0px 20px 20px;
  background:rgba(53, 74, 82, 0.98);
}

.item-window::after{
  content:"Pull corner to resize window ⤡";
  color:lightgrey;
  position:absolute;
  margin-top:5px;
  pointer-events: none;
  text-align:right;
  right:0;

}

.item::before{
  content:"⋮⋮ Drag to reposition window ⋮⋮";
  margin-top:15px;
  position:absolute;
  text-align:center;
  width:100%;
  color:lightgrey;

}

::-webkit-resizer {


  display:none;
}




#dock{
  width:100%;
  height:auto;
  position:absolute;
  bottom:0;
}



.close{
  width:30px;
  height:30px;
  background:red;
  position:absolute;
  margin-top:10px;
  margin-left:10px;
  border-radius:50%;
  transition:0.2s;
  text-align:center;
  color:white;
  font-size:25px;
}


.close:hover{
  background:darkred;
  transition:0.2s;
}

.close a{
  color:white;
  text-decoration: none;
  font-size:25px;
  line-height:0px!important;
}

.icon{

  position:relative;
  transition:0.15s;
  transition-timing-function: ease-in;
  margin-left:5%;
  margin-right:5%;
  text-align:center;
  flex-basis: 15%;
  margin-bottom:2%;

}

.icon p{
  color:white;
  text-shadow:1px 1px black;
  font-weight:600!important;

}

.icon:hover{
  cursor:pointer;
  transform:scale(1.05);
  transition:0.15s;
  transition-timing-function: ease-out;

}
.icon:hover img{
  cursor:pointer;
  transform:scale(1.1);
  transition:0.2s;
  transition-timing-function: ease-out;


}
.icon img{
  width:100px;
  height:auto;
  transition:0.2s;
  transition-timing-function: ease-in;
  -webkit-filter: drop-shadow(1px 1px 0px #404040);
}

.icons{
  position:absolute;
  width:100vw;
  display:flex;
  top:100px;
  left:50%;
  transform: translate(-50%, 0%);
  width:100%;
  flex-wrap: wrap;
  margin:auto;

}

.drag-text{
  position:absolute;
  top:-10px;
  right:20px;

}

#video-window{
  position:fixed
  background-color:black;
  width:100vw;
  z-index:9999999;
  padding:0px;
  margin:0px;
  height:100vh;

}

#video-window iframe{
  background:black;
  width:100%;
  padding:0px;
  margin:0px;
  height:100%;
  top:0;
}

#window-inner4{
  background:white;
  padding-left:30px;
  padding-right:30px;
  overflow-y:scroll;
}

.video-link a{
  margin-left:20px;
  margin-right:20px;
}

.video-link{
  padding-top:40px;
}

.close-video-container{
  width:100%;
  background:grey;
  padding:0px;
  margin:0px;

  height:10%;
}

.video-container{
  height:60%;
}

.video-select-container{
  height:30%;
  background:blue;
}

.vid-select {
  width:100%;
  display:flex;
}

.vid-select a{
  height:30%;
  background:grey;
}




@media screen and (max-width: 767px) {

  #about-me-container{
    width:90%;
    left:5%;
  }

  .iframe-body{
    padding-bottom:40px!important;
  }

  .logo-header img{
    height:20px;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:30px;
  }



  .about-me-inner p{
    text-align:justify;
    padding:0px 15px 0px 15px;
    font-weight:200;
    font-size:14px;
  }

  p {
    font-size:14px;
  }
  .about-button{

  }

  .about-button h3{
    color:white;
    text-shadow:1px 1px black;
    margin-top:auto;
    margin-bottom:auto;
    font-size:20px;
  }


  .about-button:hover{
    transform:translateX(0px);
    transition:0.2s;

  }

  .about-button img{
    width:13vw;
    padding-left:4vw;
    padding-right:4vw;
    padding-top:2vw;
    padding-bottom:2vw;
  }

  .item-window{

    width: 100vw;
    height: 100%;
    margin-top:0px;
    padding-bottom:0px!important;
    border-radius:0px;
  }

  .item-window::after{
    display:none;

  }

  .item::before{
    display:none;

  }

  .item {

    top:0px;
    margin-top:0px;
    height:100%;
    position:fixed;

  }

  .close{
    width:40px;
    height:40px;
    font-size:32px;
    margin-top:5px;
    /* background:red;
    position:absolute;
    margin-top:10px;
    margin-left:10px;
    border-radius:50%;
    transition:0.2s;
    text-align:center;
    color:white;*/
  }


  .close a{
    font-size:32px;
  }

  .item-window{
    resize:none;
  }


  .icon img{
    width:23vw;
    height:auto;
    transition:0.2s;
    transition-timing-function: ease-in;
    -webkit-filter: drop-shadow(1px 1px 0px #404040);
  }

  .icon{
    margin-top:auto;
    margin-bottom:auto;
  }

  #index-body {
    margin: 0px!important;
    height: 100%!important;
    overflow: hidden!important;
    width:100vw!important;

  }

  .icon p {
    width:23vw;
    font-size:12px;
  }

  .icons {
    top:50px;
  }

}

@media screen and (max-width: 600px) {
  .page-description{
    padding-left:15px;
    padding-right:15px;
  }
  .page-description p{
    font-size:14px;
  }


}

/* web design mock website styles */


.search-bar{
  width:100%;
  background:#2d3a40;

  display:flex;
}

.search-bar p{
  line-height:2.5em;
  text-align:left;
  display:inline;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:15px;
  margin-right:15px;
  pointer-events: none;
  color:#6b6b6b;

}



.page-preview{
  /* margin-top:2.5em; */
}

.url-bar{
  width:100%;
  background:;
  height:1.5em;
  border-left:2px solid #c4c4c4;
  margin:auto;

}

.url-bar p{
  line-height:1.5em;
  color:white!important;
}


.web-info-inner{
  overflow:hidden;
  pointer-events: none;
}

.web-info-inner p{
  color:white;
}
#website-info{
  background:rgba(255, 255, 255, 0.99);
  width:0vw;
  position:fixed;
  height:100%;
  left:0;
  transition:0.5s;
  transition-timing-function: ease-in-out;
  display:none;
}

#website-info::before{
  right:0px;
  margin-right:-100px;
  position:absolute;
  bottom:100px;
  font-size:50px;
  font-weight:800;
  color:#315f87;
  border-radius:50%;
  background:white;
  width:60px;
  height:60px;
  text-align:center;
  cursor:pointer;
  box-shadow:2px 2px 20px rgba(43, 43, 43, 0.3);
  transition:0.2s;

}

.info-closed::before{
  content:"i";
}

.info-open::before{
  content:"‹";

}


#website-info:hover::before{
  transform:scale(1.2);
  transition:0.2s;
}

.webframe-container{
  height:inherit;
  width:100%;
  display:block;

}

.webframe-inner-container{
  height:inherit;


}

.tabs-container{
  width:100%;
  text-align:center;
}

.tab a{
  margin:auto;
  font-size:12px;
  width:100%;
  line-height:3em;
  background:#2d3a40;
  text-decoration: none;
  color:white;
  border:none;
}

.tab a:nth-child(1), .tab a:nth-child(2){
  border-right:2px solid #394A52;
}


.active-tab{
  background:#394A52!important;
  border-bottom:0.5px solid #2d3a40;

}

.tab a:active{
  background:#394A52!important;
  transition:0.2s;
}

.tab{
  display:flex;


}

.web-menu{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 2.5em;
  margin-top:0px;
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.1);

}

.web-menu-top{
  margin-top:2.5em;


}

.page-preview{
  margin:0!important;
  padding:0!important;
  border:none;
  display:block;

}

.page-preview img{

}

.stitched-website img{
  display:block;
  width:100vw;
  height:auto;
}

.stitched-website{
  position:absolute;
  padding-bottom:20px;
}

@media screen and (max-width: 767px) {

  .tabs-container{
    padding-top:52px;
    overflow:hidden;
  }
  .search-bar{
    /* display:none; */
    pointer-events: none;

  }

  .back-button p{
    display:none!important;
  }

  .page-preview{

  }

  .web-menu-top{
    /* margin-top:0px; */
    margin-top:2.2em;

  }

  .web-menu{
    /* top:0px; */
    top:2em;
  }




}
